@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Wellcome to Movie Store</h1>
    <h3 class="text-center">Buy, rate or comment the movies you like!</h3>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <img class="index-movie-photo" src="http://static.rogerebert.com/uploads/movie/movie_poster/x-men-origins-wolverine-2009/large_vbaV7DalSF6Uy4qLyVK7uNdtmFy.jpg" alt="poster" />
    </div>
    <div class="col-md-4 text-center">
        <img class="index-movie-photo" src="https://metrouk2.files.wordpress.com/2016/02/fast7-poster.jpg?w=620&h=916&crop=1" alt="poster" />
    </div>
    <div class="col-md-4 text-center">
        <img class="index-movie-photo" src="https://resizing.flixster.com/B1wGhrJBY00CREScWuk89zQWphc=/206x305/v1.bTsxMTE4OTE5MDtqOzE3MzY0OzEyMDA7ODAwOzEyMDA" alt="poster" />
    </div>
</div>