@model MovieStore.DTOs.ViewModels.Manage.IndexViewModel


<h1 class="col-md-6 col-md-offset-3 text-center">Manage your profile</h1>

<div class="col-md-6 col-md-offset-3">

    <div class="col-md-6">
        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-info col-md-10 pull-right" })
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Edit your profile", "EditProfile", null, new { @class = "btn btn-info col-md-10" })
    </div>
</div>
